$body-font: 'Poppins', sans-serif;
$title-font: 'Poppins', sans-serif;
$paragraph-font: 'Poppins', sans-serif;
$primary-color: #9FA8DA;
$secondary-color: #ff7043;
$dark-color: #4a5382;
$error-color: #ef6f6c;

$bg-color: #f8faff;
$title-color: #2c3e50;
$text-color: hsl(229deg 11% 51%);

$border-r: 10px;

$gutter: 100px;

$sm-breakpoint: 480px;
$md-breakpoint: 767px;
$lg-breakpoint: 1050px;
$xl-breakpoint: 1216px;
$xx-breakpoint: 1400px;


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}



html {
  scroll-behavior: auto;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
}

.container {
  width: 100%;
  padding-left: clamp(1rem, 4vw, 2rem);
  padding-right: clamp(1rem, 4vw, 2rem);
  margin-left: auto;
  margin-right: auto;
  max-width: 1400px;
}

body,
button,
input {
  font-family: $body-font;
}